@import 'reset';
@import'module/mixins.scss';
@import'module/variable.scss';
@import'module/private.scss';
@import 'base/base.scss';


header{
    .banner{
        background-image: url(../img/banner.png);
        @extend %background;
    }
    .text{
        @extend %container01;
        @include text-align(center);
        margin-top:130px;

        hr{
            width: 60px;
            height: 2px;
            margin-top:20px;
            margin-bottom:50px;
            color: $color03;
            background-color:$color01;
            border:none;

        }

        .btn{
            width:160px;
        }
    }
    h2{
        font-size:60px;
        color:white;
        display: inline-block;
    }
    h1{
        font-size:100px;
        color:white;
        display: inline-block;
        margin-top:30px;
        margin-bottom:40px;
    }
}

.title{
    @extend %container;
    margin-top:59px;
    @include text-align(center);
}
.title{
    h2{
        font-size:23px;
        color:$color05;
    }
    h1{
        font-size:30px;
        margin-top:20px;
        margin-bottom:30px;
        color:$color05;
    }
    p{
        color:$color07;
        margin-bottom:92px;;
    }
    hr{
        width: 80px;
        margin-top: 15px;
        margin-bottom: 30px;
        height: 2px;
        color: $color03;
        background-color:$color03;
        border:none;
    }
}

//picture
.picture{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);
    
}

.picture{
    img{
        width:300px;    
    }

.box{
    img{
        @include position(relative);
    }
    .transform{
        @include position(absolute);
        width: 100%;
        width: 300px;
        height: 197px;
        margin-left: 10px;
        margin-top: 10px;
        background-color:$color04;
    }
}

}
.box {
    @include position(relative);
	text-align: center;
	color:$color01;

    .team{
        @include position(absolute);
        top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }
    p{
        top:20px;
    }
    .icon{
        width:30px;
    }
    
}

//background

.background{
    height:270px;
    background-color:$color04;
    @extend %margin-110px;
}

.container{
    .col{
        border: 1px solid $color01;
        border-top:none;
        border-bottom: none;
        height: 270px;
        width:253px;
        @include text-align(center);

        .number{
            font-size:60px;
        }
    }
   a{
       color:$color01;
   }
}
a{
    .number{
        width:40px;
    }
}


//work
.work{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);
    height: 100px;

}
.service{
    display:flex;
    margin-top:40px;
    img{
        display:inline-block;
    }
    a{
        color:$color05;
        margin-left:15px;
        margin-top:0;
        
    }
    
    p{
        color:$color07;
        width:300px;
        margin-left:15px;
        margin-top:20px;
    }
}
hr{
    width: 1140px;
    margin-top: 50px;
    height: 1px;
    color: $color08;
    background-color:$color08;
    border:none;

}

//device

.device{
    
        background-image: url(../img/nature.png);
        @extend %background;
        margin-top:100px;
        margin-bottom:100px;   
}


//article

.article{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);

}
.photo{
    img{
        width:500px;
    }
}

.photography{
    width:500px;
    height:333px;

    a{
        margin-bottom:5px;
    }
}
.frame{
    border:1px solid grey;
}

.paragraph{
    height:300px;
    ::-webkit-scrollbar {
        width: 20px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: red; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
}

//coment
.comment{
    height:270px;
    background-color:$color09;
    @extend %margin-110px;
}
.part{
    @include display(flex);
    width:900px;  
    margin:0 auto;
}

.sms{

    img{
        width:150px;
        

    }
}

.jon{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left:60px;
    p{
        color: $color07;
        width:550px;
    }

    hr{
        width: 60px;
        margin-top: 15px;
        margin-bottom: 30px;
        height: 2px;
        color: $color03;
        background-color:$color03;
        border:none;

    }
}

//members
.members{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);

    img{
        width:300px;
    }
    p{
        color:$color07;
        margin-top:10px;
    }
    .name{
        margin-top:25px;
        text-align: center;
        a{
            color:$color05;
        }
    }
}


.boy{
    img{
        
        @include position(relative);
    }
    .transform{
        @include position(absolute);
        width: 100%;
        width: 300px;
        height: 371px;
        margin-left: 10px;
        margin-top: 10px;
        background-color:$color04;
    }
}

.social{
    img{
        width:32px;
        height: 32px;
    }
    .fb{
        border:1px;
        background-color:$color03;
    }
    .soc{
        border:1px;
        background-color:$color02;
    }
}

.boy {
    @include position(relative);
	text-align: center;
	color:$color01;

    .social{
        @include position(absolute);
        top: 43%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }
   
    
}

//colection
.colection{
    img{
        width:375px;;
    }
}
.left{
    width:754px;
    float:left;
}
.medusa{
    float:left;
    
}
.right{
    width:375px;
    float:left;
}

