@import 'reset';
@import'module/mixins.scss';
@import'module/variable.scss';
@import'module/private.scss';
@import 'base/base.scss';


header{
    .banner{
        background-image: url(../img/banner.png);
        @extend %background;

        a:hover{
            color:$color02;
            font-size:20px;
        }
    }
    .text{
        @extend %container01;
        @include text-align(center);
        margin-top:130px;

        hr{
            width: 60px;
            height: 2px;
            margin-top:20px;
            margin-bottom:50px;
            color: $color03;
            background-color:$color01;
            border:none;

        }

        .btn{
            width:160px;
        }
    }
    h2{
        font-size:60px;
        color:white;
        display: inline-block;
    }
    h1{
        font-size:100px;
        color:white;
        display: inline-block;
        margin-top:30px;
        margin-bottom:40px;
    }
}

.title{
    @extend %container;
    margin-top:59px;
    @include text-align(center);
}
.title{
    h2{
        font-size:23px;
        color:$color05;
    }
    h1{
        font-size:30px;
        margin-top:20px;
        margin-bottom:30px;
        color:$color05;
    }
    p{
        color:$color07;
        margin-bottom:92px;;
    }
    hr{
        width: 80px;
        margin-top: 15px;
        margin-bottom: 30px;
        height: 2px;
        color: $color03;
        background-color:$color03;
        border:none;
    }
}

//picture
.picture{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);
    
}

.picture{
    img{
        width:300px; 
        transition: transform .2s ; 
    }
    img:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

.box{
    img{
        @include position(relative);
    }
    .transform{
        @include position(absolute);
        width: 100%;
        width: 300px;
        height: 197px;
        margin-left: 10px;
        margin-top: 10px;
        background-color:$color04;
    }
}

}
.box {
    @include position(relative);
	text-align: center;
	color:$color01;

    .team{
        @include position(absolute);
        top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }
    p{
        top:20px;
    }
    .icon{
        width:30px;
    }
    
}

//background

.background{
    height:270px;
    background-color:$color04;
    @extend %margin-110px;
}

.container{
    .col{
        border: 1px solid $color01;
        border-top:none;
        border-bottom: none;
        height: 270px;
        width:253px;
        @include text-align(center);

        .number{
            font-size:60px;
        }
    }
   a{
       color:$color01;
   }
}
a{
    .number{
        width:40px;
    }
}


//work
.work{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);
    height: 100px;

}
.service{
    display:flex;
    margin-top:40px;
    img{
        display:inline-block;
        transition: transform .2s;
    }
    img:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.2);
      }
    a{
        color:$color05;
        margin-left:15px;
        margin-top:0;   
    }
    a:hover{
        color:$color03;
        font-size:20px;
        text-decoration: none;
    }
    
    p{
        color:$color07;
        width:300px;
        margin-left:15px;
        margin-top:20px;
    }
}
  
.stripe{
    hr{
        width: 1140px;
        margin-top: 50px;
        height: 1px;
        color: $color08;
        background-color:$color08;
        border:none;

    }
}


//device

.device{
    
        background-image: url(../img/nature.png);
        @extend %background;
        margin-top:100px;
        margin-bottom:100px;   
}


//article

.article{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);

}
.photo{
    img{
        width:500px;
    }
}

.photography{
    width:500px;
    height:333px;

    a{
        margin-bottom:5px;
    }
}
.frame{
    border:1px solid grey;
}

.paragraph{
    height:300px;
    ::-webkit-scrollbar {
        width: 20px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: red; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
}

//coment
.comment{
    height:270px;
    background-color:$color09;
    @extend %margin-110px;

    p{
        border-top:1px color $color01;
    }
}
.part{
    @include display(flex);
    @include flex(center,center);
    width:900px;  
    margin:auto;
    
}

.sms{
    margin-top:60px;
    img{
        width:150px;
        transition: transform .2s;
    }

        img:hover{
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.05);

        }

    }


.jon{
    margin-left:60px;

    p{
        color: $color07;
        width:550px;
        margin-bottom:20px;
    }
   
    a{
        color:$color05;
        
    }
    a:hover{
        color:$color03;
        font-size:20px;
        text-decoration: none;
    }
}

//members
.members{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);

    img{
        width:300px;
        transition: transform .2s;

    }
    img:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);

    }
    p{
        color:$color07;
        margin-top:10px;
    }
    .name{
        margin-top:25px;
        text-align: center;
        a{
            color:$color05;
        }
        a:hover{
            color:$color03;
            font-size:20px;
            text-decoration: none;
        }
    }
}


.boy{
    img{
        
        @include position(relative);
    }
    .transform{
        @include position(absolute);
        width: 100%;
        width: 300px;
        height: 371px;
        margin-left: 10px;
        margin-top: 10px;
        background-color:$color04;
    }
}

.social{
    img{
        width:32px;
        height: 32px;
    }
    .fb{
        border:1px;
        background-color:$color03;
    }
    .soc{
        border:1px;
        background-color:$color02;
    }
}

.boy {
    @include position(relative);
	text-align: center;
	color:$color01;

    .social{
        @include position(absolute);
        top: 43%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }
   
    
}

//colection
.colection{
    width:100%;
    img{
        width:375px;
        transition: transform .2s;
    }
    img:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
      }
}
.left{
    width:754px;
    float:left;
}
.medusa{
    float:left;
    
}
.right{
    width:375px;
    float:left;
}
.clear{
    clear:both;
}

//joshua

.joshua{
    @include display(flex);
    @extend %container02;
    margin-top:100px;
    margin-bottom:130px;

    img{
        border-radius: 50%;
        transition: transform .2s;
    }
    img:hover{
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.1);
      }
}
.describtion{
    height: 80px;
    margin:auto;
    margin-left:15px;

    p{
        color:$color07;
    }
    a{
        color:$color05;
        margin-top:15px;
    }
    hr{
        width: 50px;
        height: 2px;
        color: $color03;
        background-color:$color03;
        border:none;
        margin-left:0px;
        margin-top:15px;
    }
    .line{
        @include display(flex);
    }
}


//client

.clients{
    background-image: url(../img/mountain.png);
    @extend %background;

    .text{
        @extend %container01;
        @include text-align(center);

        hr{
            width: 60px;
            height: 2px;
            margin-top:20px;
            margin-bottom:80px;
            color: $color03;
            background-color:$color03;
            border:none;

        }
        p{
            border-top:1px solid white;
        }
        h2{
            margin-top:90px;
        }
        h1{
            margin-top:15px;
        }
       
    }
}
.people{
    width:1140px;
    margin:0 auto;
    @include display(flex);
    @include flex(center, space-between);

      .person{
          width:550px;
          height: 240px;
          @include display(flex);
          
          img{
              width:110px;
              border-radius:50%;
              transition: transform .2s;
          }
          img:hover{
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.3);
          }
          p{
              width:380px;
              color:$color07;
              margin-left:30px;
          }

          hr{
            width: 60px;
            height: 2px;
            margin-top:20px;
            margin-bottom:20px;
            margin-left:30px;
            color: $color03;
            background-color:$color03;
            border:none;

        }
        hr:hover{
            background-color:$color02;
        }

        a{
            margin-top:10px;
            margin-left:30px;
            color:$color05;
            
        }
        a:hover{
            color:$color03;
            font-size:20px;
            text-decoration: none;
        }

      }
   }

   //stories

 .stories{
       @include display(flex);
       @include flex(center,space-between);
       width:1140px;
       margin:0 auto;


   }
   .blog{
       margin-top:20px;
       .month{
           @include position (relative);
       }

       img{
           width:350px;
           margin-bottom:15px;
           transition: transform .2s;
        }
        img:hover{
          -ms-transform: scale(1.5);
          -webkit-transform: scale(1.5);
          transform: scale(1.1);
        }

       hr{
        width: 350px;
        height: 1px;
        margin-top:20px;
        margin-bottom:20px;
        color: $color06;
        background-color:$color06;
        border:none;}
   }
   .eye{
       img{
            width:19px;
       }
   }
    .message{
        img{
            width:19px;   
        }
        width:19px;
    }
    .position{
        @include position(absolute);
        top: 60%;
	    left: -3%;
        width:60px;
        height: 70px;
        background-color: $color04;

        a{
            color:$color01;
            font-size:25px;
            
        }
        a:last-child{
            font-size:15px;

        }
        a:hover{
            color:$color03;
            font-size:20px;
            text-decoration: none;
        }
    }
   .content{
       a{
           color:$color05;
       }
       a:hover{
        color:$color03;
        font-size:20px;
        text-decoration: none;
    }
       p{
           color:$color07;
           margin-top:10px;
           width:350px;
       }
   }
   .eye{
       @include display(flex);
       width:110px;

       p{
           display:inline-block;
           color:$color07;
           margin-left:5px;
       }
       img{
           margin:0 auto;
           transition: transform .2s;
        }
        img:hover{
          -ms-transform: scale(1.5);
          -webkit-transform: scale(1.5);
          transform: scale(1.3);
        }
       img:last-child{
           margin-left:15px;
       }
   }
   
   //map

   .destination{
            @extend %container;
            margin-top:59px;
            @include text-align(center);
       img{
           width:20px;
       }
       a{
           margin-top:15px;
           font-size:26px;
           color:$color03;
       }
       a:hover{
        font-size:30px;
        text-decoration: none;
    }
       hr{
        width: 80px;
        margin-top: 15px;
        margin-bottom: 30px;
        height: 2px;
        color: $color03;
        background-color:$color03;
        border:none;
    }

 }

 .map{
    background-image: url(../img/map.png);
    @extend %background;
    height:200px;
    margin-top:110px;
    margin-bottom:70px;

    p{
        border-top:1px solid white;
    }
 }
 
