/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.title {
  width: 600px;
  margin: 0 auto; }

header .banner, .device {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat; }

.background, .comment {
  margin: 110px 0; }

.title {
  width: 1000px;
  margin: 0 auto; }

header .text {
  width: 650px;
  margin: 0 auto; }

header .banner, .device {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat; }

.title {
  width: 600px;
  margin: 0 auto; }

header .banner, .device {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat; }

.background, .comment {
  margin: 110px 0; }

.title {
  width: 1000px;
  margin: 0 auto; }

header .text {
  width: 650px;
  margin: 0 auto; }

header .banner, .device {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat; }

header .box, header .search {
  width: 17px; }

header .banner {
  background-image: url(../img/banner.png); }

header .text {
  text-align: center;
  margin-top: 130px; }
  header .text hr {
    width: 60px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #F38181;
    background-color: white;
    border: none; }
  header .text .btn {
    width: 160px; }

header h2 {
  font-size: 60px;
  color: white;
  display: inline-block; }

header h1 {
  font-size: 100px;
  color: white;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 40px; }

.title {
  margin-top: 59px;
  text-align: center; }

.title h2 {
  font-size: 23px;
  color: #333333; }

.title h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333333; }

.title p {
  color: #999999;
  margin-bottom: 92px; }

.title hr {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 2px;
  color: #F38181;
  background-color: #F38181;
  border: none; }

.picture {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.picture img {
  width: 300px; }

.picture .box img {
  position: relative; }

.picture .box .transform {
  position: absolute;
  width: 100%;
  width: 300px;
  height: 197px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #95E1D3; }

.box {
  position: relative;
  text-align: center;
  color: white; }
  .box .team {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .box p {
    top: 20px; }
  .box .icon {
    width: 30px; }

.background {
  height: 270px;
  background-color: #95E1D3; }

.container .col {
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  height: 270px;
  width: 253px;
  text-align: center; }
  .container .col .number {
    font-size: 60px; }

.container a {
  color: white; }

a .number {
  width: 40px; }

.work {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px; }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px; }
  .service img {
    display: inline-block; }
  .service a {
    color: #333333;
    margin-left: 15px;
    margin-top: 0; }
  .service p {
    color: #999999;
    width: 300px;
    margin-left: 15px;
    margin-top: 20px; }

hr {
  width: 1140px;
  margin-top: 50px;
  height: 1px;
  color: #E5E5E5;
  background-color: #E5E5E5;
  border: none; }

.device {
  background-image: url(../img/nature.png);
  margin-top: 100px;
  margin-bottom: 100px; }

.article {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.photo img {
  width: 500px; }

.photography {
  width: 500px;
  height: 333px; }
  .photography a {
    margin-bottom: 5px; }

.frame {
  border: 1px solid grey; }

.paragraph {
  height: 300px; }
  .paragraph ::-webkit-scrollbar {
    width: 20px; }
  .paragraph ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  .paragraph ::-webkit-scrollbar-thumb {
    background: red;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  .paragraph ::-webkit-scrollbar-thumb:hover {
    background: #b30000; }

.comment {
  height: 270px;
  background-color: #F8F8F8; }

.part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin: 0 auto; }

.sms img {
  width: 150px; }

.jon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 60px; }
  .jon p {
    color: #999999;
    width: 550px; }
  .jon hr {
    width: 60px;
    margin-top: 15px;
    margin-bottom: 30px;
    height: 2px;
    color: #F38181;
    background-color: #F38181;
    border: none; }

.members {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .members img {
    width: 300px; }
  .members p {
    color: #999999;
    margin-top: 10px; }
  .members .name {
    margin-top: 25px;
    text-align: center; }
    .members .name a {
      color: #333333; }

.boy img {
  position: relative; }

.boy .transform {
  position: absolute;
  width: 100%;
  width: 300px;
  height: 371px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #95E1D3; }

.social img {
  width: 32px;
  height: 32px; }

.social .fb {
  border: 1px;
  background-color: #F38181; }

.social .soc {
  border: 1px;
  background-color: #FCE38A; }

.boy {
  position: relative;
  text-align: center;
  color: white; }
  .boy .social {
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.colection img {
  width: 375px; }

.left {
  width: 754px;
  float: left; }

.medusa {
  float: left; }

.right {
  width: 375px;
  float: left; }
